.repositoriesList {
	color: var(--fgColor-gray);
	align-items: normal;
}

.repositoryContainer {
  border: 1px solid var(--bColor-gray);
  border-radius: 6px;
  padding: 16px;
	gap: 10px;
}

.repositoryContainer:hover {
	cursor: pointer;
}

.titleBlock {
	font-size: 12px;
}

.title {
	font-size: 20px;
}

.starsBlock {
	gap: 5px;
}

.starsIcon {
	fill: var(--fgColor-gray);
}

.link {
	color: var(--fgColor-accent);
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

/* Pagination */

.paginationItem {
	background-color: var(--control-bgColor-rest);
	border: 1px solid rgb(61, 68, 77);
	color: var(--fgColor-default);
  border-radius: 6px;
	cursor: pointer;
  height: 32px;
  width: 32px;
}

.paginationItemActive {
	border-color: white;
}

.paginationItem:hover {
	background-color: var(--control-borderColor-rest);
	background-color: var(--control-bgColor-hover);
}

.paginationItemDisabled {
	cursor: not-allowed;
}