.repositoriesList {
	color: var(--fgColor-gray);
	align-items: normal;
}

.repositoryContainer {
  border: 1px solid var(--bColor-gray);
  border-radius: 6px;
  padding: 16px;
	gap: 10px;
}

.repositoryContainer:hover {
	cursor: pointer;
}

.titleBlock {
	font-size: 12px;
}

.title {
	font-size: 20px;
}

.starsBlock {
	gap: 5px;
}

.starsIcon {
	fill: var(--fgColor-gray);
}

.link {
	color: var(--fgColor-accent);
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}